
ul li:hover {border-bottom: 4px solid #5AE2A9;margin-bottom: -8px;}

button {border-radius:20px;background: linear-gradient(to left,dodgerblue,#5AE2A9);color:#fff;padding:5px 20px;}

button:hover {background: linear-gradient(to right,dodgerblue,#5AE2A9)} 

.jumbotron{display: flex;flex-direction:column;justify-content: center}

.img-div{overflow: hidden;}

.img-front{position:absolute;left:150px;top:-50px;}

.img-back{position: relative;top:-140px;left:0;}
