ul li:hover {border-bottom: 4px solid #5AE2A9;margin-bottom: -8px;}

button {border-radius:20px;background: linear-gradient(to left,dodgerblue,#5AE2A9);color:#fff;padding:5px 20px;}

button:hover {background: linear-gradient(to right,dodgerblue,#5AE2A9)} 

.jumbotron{display: flex;flex-direction:column;justify-content: center}



/* .img{background-image: url('./images/bg-intro-desktop.svg');background-size: 100% 100%;text-align: right}
img{width:70%;} */